Source: libthai
Priority: optional
Section: libs
Maintainer: Theppitak Karoonboonyanan <thep@linux.thai.net>
Uploaders:  Loic Minier <lool@dooz.org>
Build-Depends: dpkg-dev (>= 1.14.13), debhelper (>= 5.0.61), autotools-dev, pkg-config, libdatrie0-dev
Build-Depends-Indep: doxygen, libdatrie-bin
Standards-Version: 3.7.3
Vcs-Cvs: :pserver:anonymous@linux.thai.net:/home/cvs software/libthai
Vcs-Browser: http://linux.thai.net/viewvc/viewvc.cgi/software/libthai/
Homepage: http://libthai.sourceforge.net/

Package: libthai-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libthai0 (= ${binary:Version}), libdatrie0-dev
Enhances: kdelibs
Suggests: libthai-doc
Description: Development files for Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains the development libraries and header files you need to
 develop your programs using the LibThai library.

Package: libthai0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libthai-data
Description: Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains the shared libraries needed to run programs that use
 the LibThai library.

Package: libthai-data
Section: libs
Architecture: all
Depends: ${misc:Depends}
Description: Data files for Thai language support library
 Data needed by LibThai library. It is usually automatically installed.

Package: libthai-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, lynx | www-browser
Description: Documentation files for Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains some documents about the LibThai library.
