Source: libthai
Priority: optional
Section: libs
Maintainer: Theppitak Karoonboonyanan <thep@debian.org>
Uploaders: Loic Minier <lool@dooz.org>
Build-Depends:
 debhelper (>= 8.1.3),
 dh-autoreconf,
 dpkg-dev (>= 0.16.1~),
 libdatrie-dev (>= 0.2.0),
 pkg-config
Build-Depends-Indep: doxygen, libdatrie1-bin
Standards-Version: 3.9.2
Vcs-Svn: http://linux.thai.net/svn/software/libthai
Vcs-Browser: http://linux.thai.net/websvn/wsvn/software.libthai/?sc=0
Homepage: http://linux.thai.net/projects/libthai

Package: libthai-dev
Section: libdevel
Architecture: any
Depends:
 libdatrie-dev (>= 0.2.0),
 libthai0 (= ${binary:Version}),
 ${misc:Depends}
Suggests: libthai-doc
Description: Development files for Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains the development libraries and header files you need to
 develop your programs using the LibThai library.

Package: libthai0
Architecture: any
Depends: libthai-data (>= 0.1.10), ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Enhances: libkhtml5, libqtcore4, libqtgui4
Multi-Arch: same
Description: Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains the shared libraries needed to run programs that use
 the LibThai library.

Package: libthai-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Breaks: libthai0 (<< 0.1.10)
Description: Data files for Thai language support library
 Data needed by LibThai library. It is usually automatically installed.

Package: libthai-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: lynx | www-browser, ${misc:Depends}
Description: Documentation files for Thai language support library
 LibThai is a set of Thai language support routines aimed to ease
 developers' tasks to incorporate Thai language support in their applications.
 It includes important Thai-specific functions e.g. word breaking, input and
 output methods as well as basic character and string supports.
 .
 This package contains some documents about the LibThai library.
